.academia {
    >.uk-preserve {
        top: 0;
        width: 217vw;
        max-width: 300vw;
        left: -40%;
        position: absolute;
        z-index: -1;
    }

    h2 {
        margin-bottom: 113%;
    }

    .uk-button {
        text-align: left;
    }

    @media (min-width: $breakpoint-small) {
        margin-top: -125px;
        min-height: 900px;
        padding-right: 100px;

        >.uk-preserve {
            top: 0;
            right: 50px;
            width: 106%;
            max-width: 106%;
            left: -160px;
        }

        &-text {
            max-width: 430px;
            margin-top: 18%;
        }

        h2 {
            margin-bottom: 150px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        &-text {
            margin-top: 23%;
        }

        h2 {
            margin-bottom: 200px;
        }
    }

    @media (min-width: $breakpoint-large) {
        padding-right: 175px;
        margin-top: -170px;

        &-text {
            margin-top: 275px;
        }

        h2 {
            margin-bottom: 300px;
        }
    }

    @media (min-width: $breakpoint-large-m) {
        &-text {
            margin-top: 28%;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        min-height: 1235px;
    }

    @media (max-width: $breakpoint-medium) {
        padding: 30px 13px 100px 20px;
    }
}