.banner {
    // height: calc(75vh - 80px);
    overflow: hidden;

    &.banner-blue {
        padding-top: 70px;
        min-height: 235px;
        background-color: $blue-light;
        max-width: calc(100% - 120px);
        border-radius: 60px;

        h1 {
            font-size: 54px;
            line-height: 64px;
        }
    }

    .uk-overlay {
        padding: $global-margin 0;

        h1 {
            margin: 0;
        }
    }

    @media (min-width: $breakpoint-small) {

        &::before {
            height: 75%;
        }

        .uk-overlay {
            padding-bottom: $global-medium-margin;
        }
    }

    @media (min-width: $breakpoint-large) {


        .uk-overlay {
            padding-bottom: $global-large-margin;
        }
    }
}