.latest-news {
    background-color: $blue-light;
    border-radius: 40px;
    padding: 25px 20px 90px;

    .uk-card-header,
    .uk-card-footer {
        border: 0;
    }

    *+.uk-grid-margin,
    .uk-grid+.uk-grid,
    .uk-grid>.uk-grid-margin {
        margin-top: 50px;
    }

    @media (min-width: $breakpoint-medium) {
        border-radius: 60px;
        padding: 100px 40px 130px;
    }

    @media (min-width: $breakpoint-large-m) {
        padding: 100px 60px 130px;

        .uk-grid>* {
            padding-left: 55px;
        }
    }

    @media (max-width: $breakpoint-small) {
        >.uk-preserve {
            bottom: 25px;
        }
    }
}