.our-members {
    .uk-preserve {
        position: absolute;
        top: 85%;
        left: 350px;
        z-index: 0;
    }

    h2 span {
        color: $azure;
    }

    li {
        &::before {
            position: absolute;
            width: 260px;
            height: 260px;
            background-color: $white;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            border-radius: 50%;
        }
    }

    @media (min-width: $breakpoint-medium) {
        padding-right: 180px;
        padding-left: 15px;

        &-text {
            width: 580px;
        }

        &-slide .slideshow .uk-slideshow-items {
            height: 580px;
            width: 580px;
        }
    }
}