.partners {
    padding-right: 20px;
    padding-left: 20px;

    .uk-preserve {
        position: absolute;
        z-index: -1;
    }

    .uk-text-large {
        color: $azure;
        font-family: $font-exo;
    }

    .uk-button-primary {
        padding-right: 40px;
    }

    h2 {
        margin-bottom: 40px;
    }

    &-image {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
        margin: 30px auto 40px;

        &::before {
            position: absolute;
            width: 55vw;
            height: 55vw;
            background-color: $white;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            border-radius: 50%;
        }

        img {
            top: 48%;
            max-width: 56vw;
        }

        .uk-preserve {
            top: 108%;
            left: -1%;
            transform: translateY(-46%);
            max-width: 35%;
        }
    }

    &-buttons {
        >div:first-child {
            margin-bottom: 30px;
        }
    }

    @media (min-width: $breakpoint-small) {
        margin-top: 150px;
        padding-left: 60px;

        &-image {
            height: 50vw;
            width: 50vw;

            &::before {
                width: 21vw;
                height: 21vw;
            }

            img {
                max-width: 19vw;
            }

            .uk-preserve {
                left: -16%;
                max-width: 40%;
                top: 100%;
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        margin-top: 250px;
        padding-right: 40px;
        padding-left: 90px;

        &-text {
            margin-right: 40px;
            max-width: 50%;
        }

        &-image {
            height: 38vw;
            width: 38vw;
            margin: 0;

            &::before {
                width: 21vw;
                height: 21vw;
            }

            img {
                max-width: 19vw;
            }

            .uk-preserve {
                left: -16%;
            }
        }

        blockquote {
            margin-bottom: 50px;
        }
    }

    @media (min-width: $breakpoint-large) {
        margin-top: 350px;

        h2 {
            margin-bottom: 60px;
        }

        &-text {
            max-width: 540px;

            >.uk-flex>div:first-child {
                margin-right: 15px;
            }
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        padding-right: 60px;
        padding-left: 190px;

        &-image {
            width: 710px;
            height: 710px;

            &::before {
                width: 300px;
                height: 300px;
            }

            img {
                max-width: 290px;
            }

            .uk-preserve {
                left: -9%;
                transform: translateY(-40%);
                max-width: none;
            }
        }
    }

    @media (max-width: $breakpoint-medium-max) {
        &-text>.uk-flex {
            flex-direction: column;
        }

        &-text>.uk-flex>div:first-child {
            margin-bottom: 15px;
        }
    }

    @media (max-width: $breakpoint-small-max) {
        >.uk-flex {
            flex-direction: column;
        }
    }
}