.uk-slideshow {

    .uk-overlay-primary {
        background-color: $blue-light;
        font-size: 16px;
        color: $global-color;

        em {
            color: $global-color;
        }
    }
}