.newsletter {
    border-radius: 40px;
    background-color: $blue-light;
    padding: 43px 10px 90px;

    .uk-button {
        background-color: $global-color;
        color: $white;

        svg {
            color: $success;
        }

        @include hover {
            background-color: $success;
            color: $global-color;

            svg {
                color: $white;
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        border-radius: 60px;
    }

    @media (min-width: $breakpoint-small) {
        padding: 67px 65px 80px;
    }

    @media (max-width: $breakpoint-small) {
        >.uk-preserve {
            bottom: 25px;
        }

        .uk-button {
            max-width: 280px;
            width: 100%;
        }
    }
}