<div data-uk-lightbox{{#if autoplay}}="video-autoplay: true"{{/if}} {{#if class}}class="{{class}}{{#if backgroundImage}} uk-background-cover{{/if}}"{{/if}} {{#if backgroundImage}}data-uk-img style="background-image: url('./img/{{backgroundImage}}')"{{/if}}>
    {{#> out size="" class=""}}{{/out}}
</div>