.template-home {
    .banner {
        padding-bottom: 80px;
        padding-top: 30px;

        .uk-preserve {
            position: relative;
        }
    }

    .newsletter-home .uk-container-small {
        max-width: 965px;
    }

    @media (min-width: $breakpoint-small) {
        .newsletter-home {
            margin-top: -250px;
        }
    }

    @media (min-width: $breakpoint-medium) {
        .banner {
            padding-top: 75px;
            padding-left: 60px;

            &-title {
                max-width: 725px;
            }

            .uk-preserve {
                top: 180px;
                left: -220px;
                width: calc(100% + 415px);
                max-width: calc(100% + 415px);
                position: absolute;
                z-index: 0;
            }

            &-text {
                max-width: 48%;
            }

            h1 {
                font-size: 44px;
                line-height: 52.8px;
                margin-bottom: 230px;
            }
        }

        h2 {
            font-size: 54px;
            line-height: 64.8px;
        }

        .newsletter-home {
            margin-top: -180px;
        }
    }

    @media (min-width: $breakpoint-large) {
        .banner {
            min-height: 1293px;

            &-title {
                max-width: 800px;
            }

            &-text {
                max-width: 570px;
            }

            .uk-preserve {
                top: 130px;
            }
        }

        .newsletter-home {
            margin-top: 40px;
        }
    }

    @media (min-width: $breakpoint-large-m) {
        .newsletter-home {
            margin-top: 60px;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        .banner {
            padding-left: 190px;

            &-text {
                max-width: 620px;
            }

            .uk-preserve {
                top: 0;
                left: -157px;
            }
        }

        .newsletter-home {
            margin-top: -60px;
        }
    }

    @media (max-width: $breakpoint-small-max) {

        .banner-text,
        .banner-title {
            padding-right: 20px;
            padding-left: 60px;
        }

        .banner-shape {
            position: relative;
            overflow-x: hidden;

            .uk-preserve {
                width: 85vw;
                max-width: 85vw;
                left: -5%;
            }
        }
    }

    @media (max-width: $breakpoint-xsmall-max) {
        h2 {
            font-size: 44px;
            line-height: 48.4px;
        }

        .academia h2 {
            font-size: 54px;
            line-height: 59.4px;
        }

        .banner .uk-button {
            max-width: 280px;
            width: 100%;
        }

        .banner-text,
        .banner-title {
            padding-left: 20px;
        }

        .banner-text {
            margin-top: -160px;
        }

        .banner-shape .uk-preserve {
            width: 225vw;
            max-width: 225vw;
            left: -97%;
        }
    }
}