//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
    background-image: url('data:image/svg+xml;utf8,'+ $icon);
    background-repeat: no-repeat;
}

// Hover
@mixin hover {

    &:hover,
    &:focus,
    &:active,
    &.uk-open,
    &.uk-active {
        @content;
    }
}

// Image caption
@mixin image-caption {
    font-size: 16px;
    padding: $global-small-margin;
    text-align: center;

    span {
        color: rgba($global-color, .7);
    }
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
    @include bg-icon($icon);
    content: '';
    background-size: contain;
    display: inline-block;
}

// Truncate text
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


//
// UIkit
// https://github.com/uikit/uikit/tree/develop/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';
@import 'uikit/slidenav';

// Utilities
@import 'uikit/utility';
@import 'uikit/text';

// Slideshow
@import 'uikit/slideshow';

// Accordion
@import 'uikit/accordion';

// Alert
@import 'uikit/alert';

// Lightbox
@import 'uikit/lightbox';