//
// Main
//
// ========================================================================

//
// Typography
//

// Family
$font-default: 'Mulish', sans-serif;
$font-exo: 'Exo 2', sans-serif;
$font-georgia: 'Georgia,Times,Times New Roman', serif;

// Size
$font-size: 18px;

// Weight
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Line Height
$line-height: 1.6;


//
// Colours
//
$white: #fff;
$black: #241d1e;
$primary: #395676;
$primary-opacity: #72879d;
$blue-dark: #1b365d;
$blue-light: #d4fafd;
$blue-light-alt: #69d8de;
$azure: #0480a9;
// $secondary: $black;
$secondary: $blue-light;
$success: #88dbdf;
$warning: #d88c3d;
$danger: #d64d47;
$grey: lighten($black, 32%);
$light-grey: lighten($grey, 32%);
$off-white: lighten($light-grey, 20%);


//
// Other
//

// Animation
$speed: 256ms;
$speed-fast: $speed / 2;
$speed-slow: $speed * 2;
$timing: ease-in-out;
$transition: $speed $timing;


//
// UIkit Global Variables
// https://github.com/uikit/uikit/blob/develop/src/scss/components/variables.scss
//
// Imports UIkit variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'uikit/variables';
