.footer {
    padding-top: 90px;

    &-top {
        p {
            font-size: 26px;
            line-height: 31.2px;
            font-family: $font-exo;
        }

        .uk-list {
            margin: 0 0 0 20px;

            a {
                transition: $transition;
                border: 2px solid $global-color;
                width: 52px;
                height: 52px;

                svg {
                    color: $white;
                    width: 24px;
                    height: 24px;
                    transition: $transition;
                }

                @include hover {
                    background-color: transparent;

                    svg {
                        color: $global-color;
                    }
                }
            }
        }
    }

    &-bottom {
        padding: 40px 20px 23px;
        font-size: 14px;

        .logo {
            max-width: 257px;
        }
    }

    .connect {
        span {
            font-size: 20px;
            font-family: $font-exo;
        }

        .uk-button-text {
            &::before {
                left: 40px;
            }

            svg {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                color: $global-color;
            }
        }
    }

    .contact {
        .uk-button {
            &:first-child {
                background-color: $global-color;
                margin-right: 40px;
                color: $white;

                &::after {
                    background-color: $success;
                }

                svg {
                    color: $success;
                }

                @include hover {
                    background-color: transparent;

                    svg {
                        color: $white;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 0.8rem;
    }

    .legal {

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                margin: 0 20px 0 0;
                padding: 0;

                a {
                    color: $global-color;

                    @include hover {
                        color: $black;
                    }
                }

                @media (max-width: $breakpoint-mobile) {
                    display: block;
                }
            }
        }
    }

    .watermark {

        a {
            transition: $transition;
            align-items: center;
            color: $black;
            display: inline-flex;
            font-weight: 700;

            @include hover {
                color: #e11e2f;
                text-decoration: none;
            }

            img {
                height: 1rem;
                margin-left: 2px;
            }
        }
    }

    @media (min-width: $breakpoint-small) {
        padding-top: 170px;

        &-top {
            padding-bottom: 90px;

            p {
                margin-bottom: 40px;
                font-size: 34px;
                line-height: 40.8px;
            }
        }

        &-bottom {
            padding: 40px 40px 23px;
        }

        .connect {
            span {
                font-size: 26px;
            }

            >div:first-child {
                margin-bottom: 45px;
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        &-bottom .logo {
            max-width: 200px;
            margin-right: 20px;
        }
    }

    @media (min-width: $breakpoint-large-m) {
        &-bottom {
            padding: 40px 60px 23px;

            .logo {
                max-width: 257px;
                margin-right: 40px;
            }
        }

        .legal ul li {
            margin: 0 30px 0 0;
        }
    }

    @media (max-width: $breakpoint-large) {
        &-bottom>.uk-flex {
            flex-direction: column;

            >.uk-flex:first-child {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: $breakpoint-medium) {
        &-top {
            padding-bottom: 35px;

            .uk-container>.uk-flex {
                flex-direction: column;

                >div:first-child {
                    margin-bottom: 70px;
                }
            }
        }

        &-bottom {
            >.uk-flex>.uk-flex:first-child {
                flex-direction: column;

                >a {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media (max-width: $breakpoint-small) {
        &-bottom>.uk-flex {
            >.uk-flex:first-child {
                width: 100%;
            }
        }

        .contact {
            flex-direction: column;

            .uk-button {
                margin-top: 20px;
                max-width: 280px;
                width: 100%;

                &:first-child {
                    margin-right: 0;
                }
            }
        }

        .connect {
            .uk-flex {
                &:first-child {
                    margin-bottom: 35px;
                }

                &:last-child div:last-child {
                    margin-top: 15px;
                }
            }

            .uk-list {
                margin: 0;
            }
        }

        .legal {
            width: 100%;

            ul {
                margin: 20px 0 30px;
                width: 100%;
                display: flex;

                li:last-child {
                    margin: 0;
                }
            }
        }
    }
}