.footer {

    &-top {
        p {
            font-size: 34px;
            line-height: 40.8px;
            font-family: $font-exo;
        }

        .uk-list {
            margin: 0 0 0 20px;

            a {
                transition: $transition;
                border: 2px solid $global-color;
                width: 52px;
                height: 52px;

                svg {
                    color: $white;
                    width: 24px;
                    height: 24px;
                    transition: $transition;
                }

                @include hover {
                    background-color: transparent;

                    svg {
                        color: $global-color;
                    }
                }
            }
        }
    }

    &-bottom {
        font-size: 14px;
    }

    .connect {
        span {
            font-size: 26px;
            font-family: $font-exo;
        }

        .uk-button-text {
            &::before {
                left: 40px;
            }

            svg {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                color: $global-color;
            }
        }
    }

    .contact {
        .uk-button {
            &:first-child {
                background-color: $global-color;
                margin-right: 40px;
                color: $white;

                &::after {
                    background-color: $success;
                }

                svg {
                    color: $success;
                }

                @include hover {
                    background-color: transparent;

                    svg {
                        color: $white;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 0.8rem;
    }

    .legal {

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                margin: 0 30px 0 0;
                padding: 0;

                a {
                    color: $global-color;

                    @include hover {
                        color: $black;
                    }
                }

                @media (max-width: $breakpoint-mobile) {
                    display: block;
                }
            }
        }
    }

    .watermark {

        a {
            transition: $transition;
            align-items: center;
            color: $black;
            display: inline-flex;
            font-weight: 700;

            @include hover {
                color: #e11e2f;
                text-decoration: none;
            }

            img {
                height: 1rem;
                margin-left: 2px;
            }
        }
    }

    @media (min-width: $breakpoint-small) {
        padding-top: 170px;

        &-top {
            padding-bottom: 90px;

            p {
                margin-bottom: 40px;
            }
        }

        &-bottom {
            padding: 40px 60px 23px;

            .logo {
                max-width: 257px;
                margin-right: 40px;
            }
        }

        .connect>div:first-child {
            margin-bottom: 45px;
        }
    }
}