<div class="banner uk-background-cover uk-margin-medium-top uk-position-relative uk-text-center {{#if page.banner.blue}}banner-blue uk-margin-auto{{/if}}"
    data-src="{{#if page.banner.src}}{{page.banner.src}}{{/if}}" data-uk-img>
    {{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer))}}
    {{#*inline "out"}}
    <h1>{{page.h1}}</h1>
    {{#if (neq page.name "home")}}{{> ukBreadcrumb}}{{/if}}
    {{/inline}}
    {{/ukContainer}}
</div>