<div class="slideshow">
	{{#> ukContainer size=(default size (default page.ukContainer ukContainer))}}
		{{#*inline "out"}}

		{{#if title}}
			<h2 class="uk-margin-medium-bottom">{{title}}</h2>
		{{/if}}

		{{> ukSlideshow}}

		{{/inline}}
	{{/ukContainer}}
</div>
